.text {
}

.text-small {
    font-size: 12px;
}

.text-normal {
    font-size: 14px;
}

.text-big {
    font-size: 20px;
}

.text-title {
    font-size: 35px;
}

.text-jumbo {
    font-size: 60px;
}

.text-black {
    color: #2c3e50;
}

.text-white {
    color: white;
}

.text-orange {
    color: #F9A603;
}
