.text {
}

.text-small {
    font-size: 12px;
}

.text-normal {
    font-size: 14px;
}

.text-big {
    font-size: 20px;
}

.text-title {
    font-size: 35px;
}

.text-jumbo {
    font-size: 60px;
}

.text-black {
    color: #2c3e50;
}

.text-white {
    color: white;
}

.text-orange {
    color: #F9A603;
}

.text-shadow {
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.text-thin {
    font-weight: 100;
}
